<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>基于Django框架的新肺确诊病例公共交通查询系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
    <br><br>
    <h1 align="center" lay-size="10">基于Django的新肺确诊病例公共交通查询系统</h1>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
</fieldset>

<form class="layui-form" action="">
    <div class="layui-inline">
        <label class="layui-form-label">乘车日期</label>
        <div class="layui-input-inline">
            <input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <br><br><br>

    <div class="layui-form-item">
        <label class="layui-form-label">车次</label>
        <div class="layui-input-block">
            <input type="text" name="no" lay-verify="required" lay-reqtext="车次不能为空" placeholder="请输入"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="search">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form><br><br><br>

<div class="layui-tab" lay-filter="tab-all">
    <ul class="layui-tab-title">
        <li class="layui-this" id="全部">全部</li>
        <li id="火车">火车</li>
        <li id="飞机">飞机</li>
        <li id="地铁">地铁</li>
        <li id="公交车">公交车</li>
        <li id="长途客车">长途客车</li>
        <li id="出租车">出租车</li>
        <li id="轮船">轮船</li>
        <li id="其他">其他</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <table class="layui-hide" id="data_table_全部" lay-filter="data_table_全部"></table>
        </div>

        <div class="layui-tab-item">
            <table class="layui-hide" id="data_table_火车" lay-filter="data_table_火车"></table>
        </div>

        <div class="layui-tab-item">
            <table class="layui-hide" id="data_table_飞机" lay-filter="data_table_飞机"></table>
        </div>

        <div class="layui-tab-item">
            <table class="layui-hide" id="data_table_地铁" lay-filter="data_table_地铁"></table>
        </div>

        <div class="layui-tab-item">
            <table class="layui-hide" id="data_table_公交车" lay-filter="data_table_公交车"></table>
        </div>
        <div class="layui-tab-item">
            <table class="layui-hide" id="data_table_长途客车" lay-filter="data_table_长途客车"></table>
        </div>
        <div class="layui-tab-item">
            <table class="layui-hide" id="data_table_出租车" lay-filter="data_table_出租车"></table>
        </div>
        <div class="layui-tab-item">
            <table class="layui-hide" id="data_table_轮船" lay-filter="data_table_轮船"></table>
        </div>
        <div class="layui-tab-item">
            <table class="layui-hide" id="data_table_其他" lay-filter="data_table_其他"></table>
        </div>
    </div>
</div>


<script src="../static/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script>
    var AllData = null;
    var ptype = "全部"

    layui.use(['table', 'element', 'form', 'jquery', 'laydate'], function () {
        var $ = layui.jquery
            , table = layui.table
            , element = layui.element //Tab的切换功能，切换事件监听等，需要依赖element模块
            , form = layui.form
            , layer = layui.layer
            , laydate = layui.laydate;

        getData().done(function (res) {
            tablefun(table, '全部', AllData);
        }).fail(function (err) {
        })

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });

        function tablefun(_table, _type, _data) {
            _table.render({
                elem: '#data_table_' + _type
                , data: _data
                , cellMinWidth: 80
                , method: 'get'
                , page: true
                , cols: [[
                    {field: 't_type', align: 'center', title: '交通类型'}
                    , {field: 't_no', align: 'center', title: '车次'}
                    , {field: 't_date', align: 'center', title: '时间'}
                    , {field: 't_no_sub', align: 'center', title: '车厢'}
                    , {field: 't_pos_start', align: 'center', title: '出发站'}
                    , {field: 't_pos_end', align: 'center', title: '到达站'}
                    , {field: 't_memo', align: 'center', title: '车次附加信息'}
                    , {field: 't_start', align: 'center', title: '开始时间'}
                    , {field: 't_end', align: 'center', title: '结束时间'}
                    , {field: 'who', align: 'center', title: '信息来源'}
                    , {field: 'created_at', align: 'center', title: '提交时间'}
                ]],
            });

            _table.on('row(data_table_' + _type + ')', function (obj) {
                var data = obj.data;

                var html = '';
                html += '<div><table>';
                html += '<colgroup><col width="115px"/><col width="175px"/></colgroup>';
                html += '<tr><td class="left">交通类型</td><td>' + data.t_type + '</td></tr>';
                html += '<tr><td class="left">日期</td><td>' + new Date(data.t_date).toLocaleString() + '</td></tr>';
                html += '<tr><td class="left">车次</td><td>' + data.t_no + '</td></tr>';
                html += '<tr><td class="left">车厢</td><td>' + data.t_no_sub + '</td></tr>';
                html += '<tr><td class="left">出发站</td><td>' + data.t_pos_start + '</td></tr>';
                html += '<tr><td class="left">到达站</td><td>' + data.t_pos_end + '</td></tr>';
                html += '<tr><td class="left">车次附加描述</td><td>' + data.t_memo + '</td></tr>';
                html += '<tr><td class="left">开始时间</td><td>' + new Date(data.t_start).toLocaleString() + '</td></tr>';
                html += '<tr><td class="left">结束时间</td><td>' + new Date(data.t_end).toLocaleString() + '</td></tr>';
                html += '<tr><td class="left">线索来源</td><td><a target="_blank" href=' + data.source + '>' + data.who + '</a></td></tr>';
                html += '<tr><td class="left">提交时间</td><td>' + new Date(data.created_at).toLocaleString() + '</td></tr>';
                html += '</table></div>';
                //示范一个公告层
                layer.open({
                    type: 1
                    , title: '信息详情' //不显示标题栏
                    , closeBtn: 2
                    , shadeClose: true
                    , area: ['300px', '400px']
                    , shade: 0.8
                    , id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    , btnAlign: 'c'
                    , moveType: 1 //拖拽模式，0或者1
                    , content: html
                });
                //标注选中样式
                obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
            });
        }

        element.on('tab(tab-all)', function () {
            //location.hash = 'test=' + $(this).attr('lay-id');
            gtype = $(this).attr('id');//获取类型
            tmpData = [];

            if (gtype != "全部") {
                for (i in AllData) {
                    var flag = true;
                    flag &= AllData[i].t_type == gtype;
                    if (flag) tmpData.push(AllData[i]);
                }
            } else
                tmpData = AllData;
            tablefun(table, gtype, tmpData);
        });

        form.on('submit(search)', function (data) {
            tmpData = [];
            submsg = data.field;
            for(i in AllData){
                flag &= AllData[i].date == submsg['date'];
                flag &= AllData[i].no == submsg['no'];
                if(flag) {
                    tmpData.push(AllData[i]);
                }
            }
            table(table, gtype, tmpData);

            return false;
        });

        function getData() {
            var def = $.Deferred();
            $.ajax({
                url: {% url 'data' %},
                type: 'get',
                dataType: 'json',
                timeout: 3000,
            }).done(function (res) {
                AllData = res.data;
                console.log(AllData);
                def.resolve(res);
            }).fail(function (xhr) {
                console.log('get data fail');
            });
            return def;
        }
    });


</script>
</body>
</html>